*{
    margin: 0;
    font-family: Arial;
    text-align: center;
}

header{
    background-color: #006400;
}

h1{
    padding: 20px;
    color: #ffffff;
}

nav{
    background-color: #8b0000;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #ffe4e1;
    padding: 10px;
    font-size: 20px;
}

a:hover{
    color: #ffe4e1;
    background-color: #228b22;
    border-radius: 10px;
}